.App {
  text-align: center;
}




html, body {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: #434345;
  /*font-weight: bold;*/
}


header {
  height: 60px;
  font-family: "Amatic SC", cursive;
  background-color: rgb(86, 208, 196);
  vertical-align: middle;


}

header > h1 {
  font-weight: bold;
  color: white;
  text-align: left;
  padding-left: 120px;
  padding-top: 10px;

}

main {
  padding-top: 30px;
}

.calculate-btn {
  margin-top: 20px;
  background-color: rgb(86, 208, 196);
  font-weight: bold;
  border: none;
}

.calculate-btn:hover, .calculate-btn:focus {
  background-color: rgb(86, 208, 196);
  outline: none;
}

.result {
  margin-top: 20px;
}

.ant-radio-inner {
  border-bottom-color: rgb(86, 208, 196);
  border-left-color: rgb(86, 208, 196);
  border-right-color: rgb(86, 208, 196);
  border-top-color: rgb(86, 208, 196);
}

.ant-radio-input:hover, .ant-radio-input:focus, .ant-radio-checked::after {
  border: 1px solid rgb(86, 208, 196);

}

.ant-radio-inner:after {
  background-color: rgb(86, 208, 196);
}

.ant-radio-checked .ant-radio-inner {
  border-color: rgb(86, 208, 196);
}

.ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner, .ant-radio-input:focus + .ant-radio-inner {
  border-color: rgb(86, 208, 196);
}
